
@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap');

* {
  line-height: 1.5;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Inter,  sans-serif ;
  align-items: start;
  justify-items: center;
}

body {
  background-color: #eff6f874;
  padding: 0 8em;
  display: flex;
  justify-content: left;

}

textarea {
  height: 64vh;
}
